:root {
    --text-color: #ffffff;
    /* --background: #5a4e5a; */
    --background:#6D5083;
    --primary: #513b61;
    --secondary: #8965a5;
    --accent: #bda7be;
    --blackColor:#000;

    --whiteMixBackground: color-mix(in srgb, var(--background) 100%, #ffffff 5%);
    --blackMixBackground: color-mix(in srgb, var(--background) 100%, #000 50%);
    --letterBackground: color-mix(in srgb, var(--text-color) 50%, var(--blackColor) 50%);
    /**/
    /*Neumorphism values*/
    --tX: -5px;/*top offset X value*/
    --tY: -3px;/*top offset Y value*/
    --tB: -10px;/*top blur*/

    --bX: 5px;/*bottom offset X value*/
    --bY: 10px;/*bottom offset Y value*/
    --bB: 5px;/*bottom blue*/

    --shadowBox: -5x -3px -10px rgba(var(--text-color),0.08),
    5px 10px 5px #000;

}