@import url(./font-families.css);
@import url(./colors.css);

input:active {outline:none;}
body{
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin:0;
    padding:0;
    font-size:16px;
}
@media screen and (max-width:769px){
    body{
        font-size:14px;
    }
}
@media screen and (min-width:768px){
    body{
        font-size:16px;
    }
}

header{
    text-align: center;
    height:3rem;
    background-color: var(--background);
    box-shadow:/*8px 8px 0px 8px   var(--blackMixBackground),*/
    -12px -12px 21px  var(--secondary),  
    12px 12px 21px var(--primary);
    margin:2rem auto;
    position: relative;
    width:90%;
   
}

#pages{
    height:100%;
    display:flex;
}

#pages a{
    display:flex;
    justify-content: center;
    align-items: center; 
    color:white;
    text-decoration: none;
    height:1.25rem;
    width:5rem;
    background: linear-gradient(150deg, rgba(var(--primary),0.4), rgba(var(--secondary),0.1));
    box-shadow:-7px -2px 15px var(--secondary), 
    5px 10px 1px var(--primary);
    -webkit-tap-highlight-color: transparent;
}

#pages a img{
    width:32px;
    height:32px;
}
#pages a:active{
    transform:scale(0.96);
    background: linear-gradient(300deg, rgba(var(--secondary),0.4), rgba(var(--primary) 0.1));
}
@media screen and (min-width: 320px) {
    header{
        height:8rem;
        width:70%;
    }
    .text-to-Hide{
        display:none;
    }
    #pages{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height:100%;
        width:100%;
    }
    #pages a{
        padding:1rem 0.5rem;
        border-radius: 50rem;
        height:2rem;
        width:3rem;
    }
}
@media screen and (min-width: 768px) {
    header{
        height:8rem;
        width:75%;
        margin:2 auto;
    }
    #pages{
        flex-direction:row;
    }
    
    #pages a{
        padding:0.5rem 0;
        border-radius: 50rem;
        height:3rem;
        width:4rem;
    }
}
@media screen and (min-width: 1024px) {
    .text-to-Hide{
        display:inline;
    }
    header{
        height:6rem;
        padding:1rem 1rem;
    }
    #pages a{
        padding:0.7rem 0;
        margin:0 1rem;
        width:50%;
        border-radius: 5rem;
    }

}
main{
    width:60%;
    background-color: color-mix(in srgb, var(--background) 100%, #fff 10%) ;
    box-shadow: /*10px 10px 0px 10px   var(--blackMixBackground), */
    -6px -6px 20px var(--secondary), 
    10px 10px 15px  var(--primary);
    display:flex;
    justify-content: center;
    align-items:center;
    
}
#full-name{
    width:100%;
    flex:0 3 auto;
}
#full-name div{
    width:21rem;
    height:100%;
    margin:0 auto;
}
main h1{
    width:100%;
    /*Text Customization*/
    letter-spacing: 0.1em;
    background: color-mix(in srgb, var(--primary) 50%, var(--secondary)50%);
    box-shadow:inset -2px -2px 5px var(--secondary), 
    inset 8px 8px 5px var(--primary);
    transition:0.3s;
    text-align: center;
    font-weight: 900;
    font-style: italic;

}

#bio{
    display:flex;
    flex:2 1 auto;
    
}

#bio p{
    width:25rem;
    background-color:var(--background);
    padding:1rem;
    box-shadow:inset -2px -2px 5px  var(--secondary), 
    inset 8px 8px 5px var(--primary);
}
#myPic{ 
    background: linear-gradient(135deg, rgba(0,0,0,0.3), rgba(255,255,255,0.3));
    box-shadow: -7px -5px 20px var(--secondary), 
    12px 5px 20px  var(--primary);
    border-radius:50rem; 
}

#myPic img{
    height:34.375rem;
    width:100%;
    padding: 1rem;
    border-radius:50rem; 
}

#contacts{
    background-color: var(--background);
    text-align: center; 
    width:20%;
    height:12rem;
    box-shadow:inset  -2px -2px 5px var(--secondary), 
    inset 8px 8px 5px var(--primary);

}
#contacts a{
    text-decoration: none;
    color:white;
    font-weight: 600;
    
    
}
#contacts span{
    font-weight:600;
}
.socials {
    display:inline-flex ;
    padding:0.35rem 0.35rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background: color-mix(in srgb, var(--primary) 60%, var(--secondary)60%);
    box-shadow: -6px -6px 21px  var(--primary),  
    6px 6px 21px var(--secondary);
    
}
.socials:active{
    transform:scale(0.96);
    background: linear-gradient(90deg, var(--primary), var(--secondary)); 
    box-shadow:inset -12px -20px 21px var(--secondary),
    inset 15px 15px  21px var(--primary);
    -webkit-tap-highlight-color: transparent;
}
@media screen and (min-width: 320px){
    main{
        position: relative;
        width:80%;
        height:100%;
        margin:6rem auto;  
        flex-direction: column;
    }
    #full-name{
        margin-top:1rem;
    }
    #full-name div{
        width:14.5rem;
    }
    #full-name h1{
        width:12.5rem;
        font-size:1.4rem;
        padding:0.5rem 0rem;
        margin:auto auto;
    }
  
    
    #bio{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #bio p{
        width:80%;
        margin-top:2rem;
    }
    #myPic{
        width:14rem;
        margin-top:2rem;
    }
    #myPic img{
        width:12rem;
        height:14rem;
    }
    .role{
    font-size:18px;
   }
    #role-experience{
    font-size:14px;
   }
    #contacts{
        width:50%;
        margin-top:2rem;
        margin-bottom:2rem;
        height:8rem;
        padding-top:2rem;
        padding-bottom:6rem;
    }
    #contacts address{
        display:flex;
        flex-direction: row;
        margin:1rem auto;
        justify-content: center;
    }
    .icons{
        height:32px;
        width:32px;
    }
    #social-links{
        margin-top:1rem;
        display:flex;
        justify-content: center;
    }
    .socials{
        margin:0 1rem;
        padding:0.35rem 0.35rem;
    }
    .icons{
        color:white;
    }
}
@media screen and (min-width: 768px){
    main{
        margin:6rem auto;  
        width:87%;
    }
    #full-name div{
        width:15.7rem;
    }
    #full-name h1{
        width:15.9rem;
        padding:1rem 1rem;
        font-size:1.8rem;
    }
   
    #myPic{
        height:25rem;
        width:23rem;
    }
    #myPic img{
        width:92%;
        height:93%;
    }
    #contacts{
        padding:2rem 0 5rem 0;
    }
    #contacts address{
        justify-content: space-evenly;
        width:30%;
        height:20%;
    } 
    #contacts address .socials {
        height:32px;
    }
   
    
}

@media screen and (min-width: 1024px){
    main{
        height:55rem;
        flex-wrap:wrap;
    }
    #full-name{
        position: relative;
        margin-top:4rem;
    }
    #full-name h1{
        width:18rem;
        padding:1rem 1rem;
        
    }
    #bio{
        height:0rem;
        flex-direction: column;
        flex-wrap:wrap;
        
    }
    #bio p{
        width:30%;
        align-self: center;

    }
    #myPic{
        height:35rem;
        width:28rem;
        
       
    }
    #myPic img{
        width:94%;
        height:95%;
    }
    #contacts{
        width:21rem;
        height:25%;
    }
    #contacts address{
        display:block;
        width:inherit;
        height:60%;
        margin:0.5rem 0;
    }
    .socials{
        padding:0.35rem 0.35rem;
    }
}
