@import url(./font-families.css);
body{
    background-color: #5a4e5a;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size:16px;
}

@media screen and (max-width:768px){
    body{
        font-size:14px;
    }
}
header{
    text-align: center;
    height:8rem;
    background-color: color-mix(in srgb, #5a4e5a 100%, #fff 10%) ;
    opacity: 100%;
    margin:2rem auto;

}
header h1{
    font-weight: 900;
    font-style: italic;
}
header #pages{
    display:flex;
}

#pages a{
    background-color:#fff ;
    border-radius: 5rem;
    padding:0.5rem 0;
    margin:0 0.5rem;
    text-decoration: none;
    color:black;
    flex:1;
}
@media screen and (min-width: 320px) {
    header{
        width:20rem;
    }
    #pages a{
        padding:0.5rem 0;
        margin:0 0.5rem;
    }
}
@media screen and (min-width: 768px) {
    header{
        width:24rem;
    }
    #pages a{
        padding:0.5rem 0;
        margin:0 1rem;
    }
    
}
@media screen and (min-width: 1024px) {
    header{
        width:26rem;
        height:9rem;
        padding:1rem 1rem;
    }
    #pages a{
        padding:0.7rem 0;
        margin:0 1rem;
    }

}
@media screen and (min-width: 320px) {
    main{
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 0.3fr 0.3fr 1fr;

    }
}
@media screen and (min-width: 768px) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        gap:2rem;
    }    
}

@media screen and (min-width: 1024px){
    main{
        grid-template-rows: 1fr 0.5fr;
        grid-template-columns:1fr 1fr 1fr;
        gap:4rem;
    }
}

#qualifications{
    display:flex;
    text-align: center;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    
}

.course{
    border:0.5rem solid #ADF20D;
    margin-bottom: 1rem;
    width:90%;
   
}
@media screen and (min-width: 320px) {
    #qualifications{
        grid-area:1/1/span 1/span 1;
    }
}

@media screen and (min-width: 768px){
    #qualifications{
        grid-area:1/1/span 1/span 2;
    }
}

@media screen and (min-width: 1024px){
    #qualifications{
        grid-area:1/1/span 1/ span 1;
    }
}


@media screen and (min-width: 320px){
    #experience{
        grid-area:2/1/ span 1/ span 1;
        margin-left:1rem;

    }
}
@media screen and (min-width: 768px){
    #experience{
       grid-area:2 /1/span 1/ span 1;
       
    }
}

@media screen and (min-width: 1024px){
    #experience{
        grid-area:1/2/span 1/span 1;
        
    }
}


@media screen and (min-width: 320px){
    #software-skills{
        grid-area:3/1/ span 1/ span 1;
        margin-left:1rem;
    }
}
@media screen and (min-width: 768px){
    #software-skills{
        grid-area:2/2/span 1/span 1;
        grid-area:3/2/span 1 /span 1;
    }
}

@media screen and (min-width: 1024px){
    #software-skills{
        grid-area:2/1/span 1/span 1;
        justify-self: center;
    }
}


@media screen and (min-width: 320px){
    #soft-skills{
        grid-area:4/1/ span 1/ span 1;
        margin-left:1rem;
    }
}

@media screen and (min-width: 768px){
    #soft-skills{
        grid-area:3/1/span 1/span 1;
        margin-left:1rem;
    }
}
@media screen and (min-width: 1024px){
    #soft-skills{
        grid-area:2/2/span 1/span 1;
    }
}


footer{
    text-align: center; 
    width:100%;
}
footer a{
    text-decoration: none;
    color:white;
    font-weight: 600;
}