@import url(./font-families.css);
@import url(./colors.css);


body{
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin:0;
    padding:0;
    font-size:16px;
}

@media screen and (min-width:324px){
    body{
        font-size:14px;
    }
}
@media screen and (min-width:768px){
    body{
        font-size:16px;
    }
}
header{
    text-align: center;
    height:3rem;
    background-color: var(--background);
    box-shadow:/*8px 8px 0px 8px   var(--blackMixBackground),*/
    -12px -12px 21px  var(--secondary),  
    12px 12px 21px var(--primary);
    margin:2rem auto;
    position: relative;
    width:90%;
   
}

#pages{
    height:100%;
    display:flex;
}

#pages a{
    display:flex;
    justify-content: center;
    align-items: center; 
    color:white;
    text-decoration: none;
    height:1.25rem;
    width:5rem;
    background: linear-gradient(150deg, rgba(var(--primary),0.4), rgba(var(--secondary),0.1));
    box-shadow:-7px -2px 15px var(--secondary), 
    5px 10px 1px var(--primary);
    -webkit-tap-highlight-color: transparent;
}

#pages a img{
    width:32px;
    height:32px;
}
#pages a:active{
    transform:scale(0.96);
    background: linear-gradient(300deg, rgba(var(--secondary),0.4), rgba(var(--primary), 0.2));
}
@media screen and (min-width: 320px) {
    header{
        height:8rem;
        width:70%;
    }
    .text-to-Hide{
        display:none;
    }
    #pages{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        height:100%;
        width:100%;
    }
    #pages a{
        padding:1rem 0.5rem;
        border-radius: 50rem;
        height:2rem;
        width:3rem;
    }
}
@media screen and (min-width: 768px) {
    header{
        height:8rem;
        width:75%;
        margin:2 auto;
    }
    #pages{
        flex-direction:row;
    }
    
    #pages a{
        padding:0.5rem 0;
        border-radius: 50rem;
        height:3rem;
        width:4rem;
    }
}
@media screen and (min-width: 1024px) {
    .text-to-Hide{
        display:inline;
    }
    header{
        height:6rem;
        padding:1rem 1rem;
    }
    #pages a{
        padding:0.7rem 0;
        margin:0 1rem;
        width:50%;
        border-radius: 5rem;
    }

}
main{
    width:90%;
    margin:0 auto;
    background-color: color-mix(in srgb, var(--background) 100%, #fff 10%) ;
    box-shadow: /*10px 10px 0px 10px   var(--blackMixBackground), */
    -6px -6px 20px  var(--secondary), 
    10px 10px 15px  var(--primary);
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    
}



.dropDownArrow{
    display:inline;
    position: relative;
    height:3rem;
    width:3rem;
    left:10px;
    transform:rotate(270deg); 
    border-color:transparent; 
    border-radius: 2rem;
    background: linear-gradient(150deg, rgba(var(--primary),0.4), rgba(var(--secondary),0.1));
    box-shadow:-2px -2px 15px var(--primary), 
    2px 3px 15px var(--secondary);
    
}

.dropDownArrow::after{
    transform:scale(0.5);

}
@media screen and (min-width: 320px) {
    main{
        width:80%;
        flex-direction: column;

    }
}
@media screen and (min-width: 768px) {
    main{
        margin:6rem auto;  
        
    }
}


#qualifications {
    display:none;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
}

.buttons{
    margin-top:2rem;
}
main h2{
    display:inline;
}

.course{
    width:50%;
}
.section-sizes{
    margin-top:1rem;
    width:90%;
}
@media screen and (min-width: 320px) {
    
    .course{
        width:90%;
    }
    
}


#soft-skills{
    margin-bottom:2rem;
}


.background-text{
    box-shadow:inset 10px 10px 20px var(--primary),
    inset -10px -10px 20px var(--secondary);
}

.resume-sections{
    padding:0 1rem;
    margin: 1rem auto;
}